<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kylin.electricassistsys.dao.TDdsbGyxlDao">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.kylin.electricassistsys.pojo.TDdsbGyxl">
        <id column="T_GYXL_ID" property="tGyxlId" />
        <result column="T_GYXL_SBLX" property="tGyxlSblx" />
        <result column="T_GYXL_SBBH" property="tGyxlSbbh" />
        <result column="T_GYXL_SBNAME" property="tGyxlSbname" />
        <result column="T_GYXL_GLSB" property="tGyxlGlsb" />
        <result column="T_GYXL_GLLX" property="tGyxlGllx" />
        <result column="T_GYXL_BZ" property="tGyxlBz" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        T_GYXL_ID, T_GYXL_SBLX, T_GYXL_SBBH, T_GYXL_SBNAME, T_GYXL_GLSB, T_GYXL_GLLX, T_GYXL_BZ
    </sql>

</mapper>
