<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kylin.electricassistsys.dao.excel.TExcelMobanDao">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.kylin.electricassistsys.pojo.excel.TExcelMoban">
        <id column="EM_ID" property="emId" />
        <result column="EM_CREATEUSERID" property="emCreateuserid" />
        <result column="EM_CREATETIME" property="emCreatetime" />
        <result column="EM_NAME" property="emName" />
        <result column="EM_EXCELINFO" property="emExcelinfo" />
        <result column="EM_TABLEIDS" property="emTableids" />
        <result column="EM_INDEX" property="emIndex" />
        <result column="EM_REMARK" property="emRemark" />
        <result column="EM_P_ID" property="emPId" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        EM_ID, EM_CREATEUSERID, EM_CREATETIME, EM_NAME, EM_EXCELINFO, EM_TABLEIDS, EM_INDEX, EM_REMARK, EM_P_ID
    </sql>

</mapper>
