<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kylin.electricassistsys.dao.TSbsjLlxlsDao">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.kylin.electricassistsys.pojo.TSbsjLlxls">
        <result column="T_LLXLS_ID" property="tLlxlsId" />
        <result column="T_LLXLS_BID" property="tLlxlsBid" />
        <result column="T_LLXLS_EID" property="tLlxlsEid" />
        <result column="T_LLXLS_UPDATA" property="tLlxlsUpdata" />
        <result column="T_LLXLS_UPUSER" property="tLlxlsUpuser" />
        <result column="T_LLXLS_CISHU" property="tLlxlsCishu" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        T_LLXLS_ID, T_LLXLS_BID, T_LLXLS_EID, T_LLXLS_UPDATA, T_LLXLS_UPUSER, T_LLXLS_CISHU
    </sql>

</mapper>
