<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kylin.electricassistsys.dao.TSysMbDao">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.kylin.electricassistsys.pojo.TSysMb">
        <id column="T_MBID" property="tMbid" />
        <result column="T_MBNAME" property="tMbname" />
        <result column="T_MBREMARK" property="tMbremark" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        T_MBID, T_MBNAME, T_MBREMARK
    </sql>

</mapper>
