<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kylin.electricassistsys.dao.tsys.TSysJsqxDao">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.kylin.electricassistsys.pojo.tsys.TSysJsqx">
        <id column="T_JSQXID" property="tJsqxid" />
        <result column="T_JSID" property="tJsid" />
        <result column="T_BUTTONNAMES" property="tButtonnames" />
        <result column="T_QXID" property="tQxid" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        T_JSQXID, T_JSID, T_BUTTONNAMES, T_QXID
    </sql>

</mapper>
