<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kylin.electricassistsys.dao.TSysDanweiDao">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.kylin.electricassistsys.pojo.TSysDanwei">
        <id column="D_ID" property="dId" />
        <result column="D_P_ID" property="dPId" />
        <result column="D_NAME" property="dName" />
        <result column="D_INDEX" property="dIndex" />
        <result column="D_STATE" property="dState" />
        <result column="D_REMARK" property="dRemark" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        D_ID, D_P_ID, D_NAME, D_INDEX, D_STATE, D_REMARK
    </sql>

</mapper>
