<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kylin.electricassistsys.dao.TSysUserjsDao">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.kylin.electricassistsys.pojo.TSysUserjs">
        <id column="T_USERJSID" property="tUserjsid" />
        <result column="T_USERID" property="tUserid" />
        <result column="T_JSID" property="tJsid" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        T_USERJSID, T_USERID, T_JSID
    </sql>

</mapper>
