<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kylin.electricassistsys.dao.TSysLoginDao">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.kylin.electricassistsys.pojo.TSysLogin">
        <id column="ID" property="id" />
        <result column="U_ID" property="uId" />
        <result column="U_LOGIN" property="uLogin" />
        <result column="U_PASSWORD" property="uPassword" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        ID, U_ID, U_LOGIN, U_PASSWORD
    </sql>

</mapper>
