<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kylin.electricassistsys.dao.tsys.TSysModuleDao">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.kylin.electricassistsys.pojo.tsys.TSysModule">
        <id column="ID" property="id"/>
        <result column="MODULE_CODE" property="moduleCode"/>
        <result column="MODULE_NAME" property="moduleName"/>
        <result column="REMARK" property="remark"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        ID, MODULE_CODE, MODULE_NAME, REMARK
    </sql>

</mapper>
