<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kylin.electricassistsys.dao.TJcsjJxxxDao">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.kylin.electricassistsys.pojo.TJcsjJxxx">
        <id column="T_JXID" property="tJxid" />
        <result column="T_JXNAME" property="tJxname" />
        <result column="T_JXINDEX" property="tJxindex" />
        <result column="T_JXREMARK" property="tJxremark" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        T_JXID, T_JXNAME, T_JXINDEX, T_JXREMARK
    </sql>

</mapper>
