<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kylin.electricassistsys.dao.TJcsjAzxsDao">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.kylin.electricassistsys.pojo.TJcsjAzxs">
        <id column="T_AZXS_ID" property="tAzxsId" />
        <result column="T_AZXS_NAME" property="tAzxsName" />
        <result column="T_AZXS_REMARK" property="tAzxsRemark" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        T_AZXS_ID, T_AZXS_NAME, T_AZXS_REMARK
    </sql>

</mapper>
