<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kylin.electricassistsys.dao.jcsj.TJcsjXmxzDao">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.kylin.electricassistsys.pojo.jcsj.TJcsjXmxz">
        <id column="T_XMXZ_ID" property="tXmxzId" />
        <result column="T_XMXZ_NAME" property="tXmxzName" />
        <result column="T_XMXZ_PX" property="tXmxzPx" />
        <result column="T_XMXZ_REMARK" property="tXmxzRemark" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        T_XMXZ_ID, T_XMXZ_NAME, T_XMXZ_PX, T_XMXZ_REMARK
    </sql>

</mapper>
