<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kylin.electricassistsys.dao.jcsj.TJcsjMpbbDao">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.kylin.electricassistsys.pojo.jcsj.TJcsjMpbb">
        <id column="T_MPBB_ID" property="tMpbbId" />
        <result column="T_MPBB_NAME" property="tMpbbName" />
        <result column="T_MPBB_PX" property="tMpbbPx" />
        <result column="T_MPBB_REMARK" property="tMpbbRemark" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        T_MPBB_ID, T_MPBB_NAME, T_MPBB_PX, T_MPBB_REMARK
    </sql>

</mapper>
