<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kylin.electricassistsys.dao.TJcsjZypwyxzbDao">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.kylin.electricassistsys.pojo.TJcsjZypwyxzb">
        <result column="T_ZYPWYXZB_ID" property="tZypwyxzbId" />
        <result column="T_ZYPWYXZB_QYID" property="tZypwyxzbQyid" />
        <result column="T_ZYPWYXZB_GQLX" property="tZypwyxzbGqlx" />
        <result column="T_ZYPWYXZB_YEAR" property="tZypwyxzbYear" />
        <result column="T_ZYPWYXZB_GDKKXRS1" property="tZypwyxzbGdkkxrs1" />
        <result column="T_ZYPWYXZB_GDKKXRS3" property="tZypwyxzbGdkkxrs3" />
        <result column="T_ZYPWYXZB_XSL110" property="tZypwyxzbXsl110" />
        <result column="T_ZYPWYXZB_XSL10" property="tZypwyxzbXsl10" />
        <result column="T_ZYPWYXZB_ZHDYHGL" property="tZypwyxzbZhdyhgl" />
        <result column="T_ZYPWYXZB_JMDDYHGL" property="tZypwyxzbJmddyhgl" />
        <result column="T_ZYPWYXZB_CNW" property="tZypwyxzbCnw" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        T_ZYPWYXZB_ID, T_ZYPWYXZB_QYID, T_ZYPWYXZB_GQLX, T_ZYPWYXZB_YEAR, T_ZYPWYXZB_GDKKXRS1, T_ZYPWYXZB_GDKKXRS3, T_ZYPWYXZB_XSL110, T_ZYPWYXZB_XSL10, T_ZYPWYXZB_ZHDYHGL, T_ZYPWYXZB_JMDDYHGL, T_ZYPWYXZB_CNW
    </sql>

</mapper>
