<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kylin.electricassistsys.dao.TJcsjCsDycsDao">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.kylin.electricassistsys.pojo.TJcsjCsDycs">
        <id column="T_DYCS_ID" property="tDycsId" />
        <result column="T_DYCS_NAME" property="tDycsName" />
        <result column="T_DYCS_PX" property="tDycsPx" />
        <result column="T_DYCS_REMARK" property="tDycsRemark" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        T_DYCS_ID, T_DYCS_NAME, T_DYCS_PX, T_DYCS_REMARK
    </sql>

</mapper>
