<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kylin.electricassistsys.dao.jcsj.TJcsjBzfsDao">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.kylin.electricassistsys.pojo.jcsj.TJcsjBzfs">
        <id column="T_BZFS_ID" property="tBzfsId" />
        <result column="T_BZFS_NAME" property="tBzfsName" />
        <result column="T_BZFS_REMARK" property="tBzfsRemark" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        T_BZFS_ID, T_BZFS_NAME, T_BZFS_REMARK
    </sql>

</mapper>
