<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kylin.electricassistsys.dao.jcsj.TJcsjXmlxDao">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.kylin.electricassistsys.pojo.jcsj.TJcsjXmlx">
        <id column="T_XMLX_ID" property="tXmlxId" />
        <result column="T_XMLX_NAME" property="tXmlxName" />
        <result column="T_XMLX_PX" property="tXmlxPx" />
        <result column="T_XMLX_REMARK" property="tXmlxRemark" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        T_XMLX_ID, T_XMLX_NAME, T_XMLX_PX, T_XMLX_REMARK
    </sql>

</mapper>
