<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kylin.electricassistsys.dao.ghdg.TGhdgDwyxzbDao">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.kylin.electricassistsys.pojo.ghdg.TGhdgDwyxzb">
        <id column="T_DWYXZB_ID" property="tDwyxzbId" />
        <result column="T_DWYXZB_GQLX" property="tDwyxzbGqlx" />
        <result column="T_DWYXZB_DYDJ" property="tDwyxzbDydj" />
        <result column="T_DWYXZB_RZB" property="tDwyxzbRzb" />
        <result column="T_DWYXZB_DZS" property="tDwyxzbDzs" />
        <result column="T_DWYXZB_DBL" property="tDwyxzbDbl" />
        <result column="T_DWYXZB_ZBTS" property="tDwyxzbZbts" />
        <result column="T_DWYXZB_ZBBL" property="tDwyxzbZbbl" />
        <result column="T_DWYXZB_XLTS" property="tDwyxzbXlts" />
        <result column="T_DWYXZB_XLBL" property="tDwyxzbXlbl" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        T_DWYXZB_ID, T_DWYXZB_GQLX, T_DWYXZB_DYDJ, T_DWYXZB_RZB, T_DWYXZB_DZS, T_DWYXZB_DBL, T_DWYXZB_ZBTS, T_DWYXZB_ZBBL, T_DWYXZB_XLTS, T_DWYXZB_XLBL
    </sql>

</mapper>
