<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kylin.electricassistsys.dao.TGhdgPdzdhDao">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.kylin.electricassistsys.pojo.TGhdgPdzdh">
        <id column="T_PDZDH_ID" property="tPdzdhId" />
        <result column="T_PDZDH_TYPE" property="tPdzdhType" />
        <result column="T_PDZDH_DYDJ" property="tPdzdhDydj" />
        <result column="T_PDZDH_ZDHFGL" property="tPdzdhZdhfgl" />
        <result column="T_PDZDH_PDZDYYBL" property="tPdzdhPdzdyybl" />
        <result column="T_PDZDH_PDZDEYBL" property="tPdzdhPdzdeybl" />
        <result column="T_PDZDH_PDZDSYBL" property="tPdzdhPdzdsybl" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        T_PDZDH_ID, T_PDZDH_TYPE, T_PDZDH_DYDJ, T_PDZDH_ZDHFGL, T_PDZDH_PDZDYYBL, T_PDZDH_PDZDEYBL, T_PDZDH_PDZDSYBL
    </sql>

</mapper>
