<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kylin.electricassistsys.dao.ghdg.TGhdgJmfbDao">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.kylin.electricassistsys.pojo.ghdg.TGhdgJmfb">
        <id column="T_JMFB_ID" property="tJmfbId" />
        <result column="T_JMFB_TYPE" property="tJmfbType" />
        <result column="T_JMFB_DYDJ" property="tJmfbDydj" />
        <result column="T_JMFB_JKXLCD240" property="tJmfbJkxlcd240" />
        <result column="T_JMFB_JKXLCD185" property="tJmfbJkxlcd185" />
        <result column="T_JMFB_JKXLCD150" property="tJmfbJkxlcd150" />
        <result column="T_JMFB_JKXLCD120" property="tJmfbJkxlcd120" />
        <result column="T_JMFB_JKXLCD95" property="tJmfbJkxlcd95" />
        <result column="T_JMFB_JKXLCD70" property="tJmfbJkxlcd70" />
        <result column="T_JMFB_DLXLCD400" property="tJmfbDlxlcd400" />
        <result column="T_JMFB_DLXLCD300" property="tJmfbDlxlcd300" />
        <result column="T_JMFB_DLXLCD240" property="tJmfbDlxlcd240" />
        <result column="T_JMFB_DLXLCD185" property="tJmfbDlxlcd185" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        T_JMFB_ID, T_JMFB_TYPE, T_JMFB_DYDJ, T_JMFB_JKXLCD240, T_JMFB_JKXLCD185, T_JMFB_JKXLCD150, T_JMFB_JKXLCD120, T_JMFB_JKXLCD95, T_JMFB_JKXLCD70, T_JMFB_DLXLCD400, T_JMFB_DLXLCD300, T_JMFB_DLXLCD240, T_JMFB_DLXLCD185
    </sql>

</mapper>
