<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kylin.electricassistsys.dao.TDaorubiaoshiDao">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.kylin.electricassistsys.pojo.TDaorubiaoshi">
        <id column="DR_ID" property="drId" />
        <result column="DR_CREATEUSERID" property="drCreateuserid" />
        <result column="DR_MOBANENTITY" property="drMobanentity" />
        <result column="DR_BIAOSHIIDS" property="drBiaoshiids" />
        <result column="DR_REMARK" property="drRemark" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        DR_ID, DR_CREATEUSERID, DR_MOBANENTITY, DR_BIAOSHIIDS, DR_REMARK
    </sql>

</mapper>
