<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kylin.electricassistsys.dao.TSeachAllseachtableDao">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.kylin.electricassistsys.pojo.TSeachAllseachtable">
        <id column="T_SEACH_ID" property="tSeachId" />
        <result column="T_SEACH_P_ID" property="tSeachPId" />
        <result column="T_SEACH_NAME" property="tSeachName" />
        <result column="T_SEACH_SELECTSQL" property="tSeachSelectsql" />
        <result column="T_SEACH_CREATETIME" property="tSeachCreatetime" />
        <result column="T_SEACH_INDEX" property="tSeachIndex" />
        <result column="T_SEACH_REMARK" property="tSeachRemark" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        T_SEACH_ID, T_SEACH_P_ID, T_SEACH_NAME, T_SEACH_SELECTSQL, T_SEACH_CREATETIME, T_SEACH_INDEX, T_SEACH_REMARK
    </sql>

</mapper>
