<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kylin.electricassistsys.dao.tyx.TYxJiagongZyxlnDao">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.kylin.electricassistsys.pojo.tyx.TYxJiagongZyxln">
        <result column="JGID" property="jgid" />
        <result column="JGNF" property="jgnf" />
        <result column="XLID" property="xlid" />
        <result column="YOUGONG" property="yougong" />
        <result column="WUGONG" property="wugong" />
        <result column="DIANLIU" property="dianliu" />
        <result column="ZDFHFSSK" property="zdfhfssk" />
        <result column="REMARK" property="remark" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        JGID, JGNF, XLID, YOUGONG, WUGONG, DIANLIU, ZDFHFSSK, REMARK
    </sql>

</mapper>
