<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kylin.electricassistsys.dao.tjisuan.TJisuanXlnDao">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.kylin.electricassistsys.pojo.tjisuan.TJisuanXln">
        <result column="NID" property="nid" />
        <result column="XLID" property="xlid" />
        <result column="JG" property="jg" />
        <result column="JSNF" property="jsnf" />
        <result column="REMARK" property="remark" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        NID, XLID, JG, JSNF, REMARK
    </sql>
    <resultMap id="BaseResultMapSel" type="com.kylin.electricassistsys.pojo.tjisuan.TJisuanXlnSel">
        <result column="NID" property="nid" />
        <result column="XLID" property="xlid" />
        <result column="JG" property="jg" />
        <result column="JSNF" property="jsnf" />
        <result column="REMARK" property="remark" />
        <result column="t_zyxl_gqlx" property="tZyxlGqlx"/>
        <result column="t_zyxl_qy" property="tZyxlQy"/>
        <result column="t_zyxl_bdz" property="tZyxlBdz"/>
        <result column="t_zyxl_syfs" property="tZyxlSyfs"/>
        <result column="t_zyllxxx_xlmc" property="tZyllxxxXlmc"/>
      </resultMap>

     <select id="selectPage" resultMap="BaseResultMapSel" parameterType="com.kylin.electricassistsys.pojo.tjisuan.TJisuanXlnSel">
           SELECT
            t_jisuan_xln.nid,
            t_jisuan_xln.jsnf,
            fun_getgqlx_byzyxlid(t_jisuan_xln.xlid) t_zyxl_gqlx,
            fun_getqy_byzyxlid(t_jisuan_xln.xlid) t_zyxl_qy,
            fun_getbdz_byzyxlid(t_jisuan_xln.xlid) t_zyxl_bdz,
            fun_getsyfs_byzyxlid(t_jisuan_xln.xlid) t_zyxl_syfs,
            t_jisuan_xln.xlid,
            t_sbsj_zyllxxx.t_zyllxxx_xlmc,
            t_jisuan_xln.jg,
            t_jisuan_xln.remark,
            ROW_NUMBER() OVER(
                ORDER BY
                    jsnf DESC
            ) rank__
        FROM
            t_jisuan_xln left
            JOIN t_sbsj_zyllxxx ON ( t_sbsj_zyllxxx.t_zyllxxx_id = t_jisuan_xln.xlid )
        WHERE
            1 = 1 ${ew.sqlSegment}
     </select>

</mapper>
