<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kylin.electricassistsys.dao.TJisuanZyxldyjDao">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.kylin.electricassistsys.pojo.TJisuanZyxldyj">
        <result column="ID" property="id" />
        <result column="XLID" property="xlid" />
        <result column="NF" property="nf" />
        <result column="VALUE" property="value" />
        <result column="REMARK" property="remark" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        ID, XLID, NF, VALUE, REMARK
    </sql>

</mapper>
